*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    
 body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }
.page{
    width: 430px;
    height: 520px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.page .circle{
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.circle:first-child{
    background: linear-gradient(#1845ad, #23a2f6 );
    left: -80px;
    top: -80px;
}
.circle:last-child{
    background: linear-gradient(to right,#ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}
.box,.box .img-area,icons a,
.buttons button{
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
}
.box .img-area{
    display: flex;
    align-items: center;
    justify-content: center;                    
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box .name{  
    color: white;
    margin: 10px 0 5px 0;                      
    font-size: 23px;
    font-weight: 500;
}
.box .about{
    color: #d0d1d7;
    font-weight: 400;
    font-size: 16px;
}
.box .icons{
margin: 15px 0 25px 0;
}
.icons a{
    position: relative;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
}                                      
.icons a:hover::before,
.box .icon:hover::before,
.buttons button:hover:before{
    content: "";
    position: absolute;
    border-radius: 50%; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.icons a i{
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 35px;
    position: relative;
    z-index: 3;
    text-align: center;
}
.icons a:nth-last-child(1) i{
    color: #13d151;
}
.icons a:nth-last-child(2) i{
    color: #e6ba12;
}
.icons a:nth-last-child(3) i{
    color: #1da9e9;
}
.icons a:nth-last-child(4) i{
    color: #f23400;
}
    .box .buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.buttons button{
    outline: none;
    padding: 12px 0;
    color: #d0d1d6;
    font-size: 17px;
    position: relative;
    width: 100%;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}
.buttons button:first-child{
    margin-right: 10px;
}
.buttons button:last-child{
    margin-left: 10px;
}
.buttons button:hover:before{
    z-index: -1;
    border-radius: 5px;
}



/* 3 */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card-wrap{
  width: 220px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.card-header{
  height: 200px;
  width: 100%;
  background: red;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;

}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  
}
.card-text{
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.card-btn{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card-header.one{
  background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.card-btn.one{
  background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}
/* 4 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container .card {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}



.container .card .circl {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .circl h2 {
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}

.container .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    page-break-after: 20px;
    text-align: center;
}

.container .card .content p {
    color: #666;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}

.container .card:nth-child(1) .circl,
.container .card:nth-child(1) .content a {
    background: #ffaf00;
}

/* 5 */
.css5{
    text-align: center;
    height: 400px;
    width: 250px;
    border:1px solid black;
}
.css51 img{
    padding: 30px;
}
.sizeButtonc5{
    width: 230px;
    padding: 15px;
    border-radius: 10px;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border-radius:30px;
  
}
.css52{
    color: white;
    background-color: #ff0180;
    text-align: center;
    height: 400px;
    width: 250px;
    border:1px solid black;
}
.sizeButtonc6{
    width: 230px;
    padding: 15px;
    border-radius: 10px;
    top:50%;
    background-color:white;
    color: #ff0180;
    border-radius:30px;
  
}
/* 6 */
.cart {
    width:300px ;
    border: 1px solid black;
    height: 456.5px;
    border-radius: 18px;
    background: white;
    font-family: roboto;
    text-align: center;
  }
  .cart img{
    object-fit: fill;
    border-radius: 18px 18px 0px 0px;
  }
  .displaytext>p{
    padding: 20px 20px 5px 20px;
  }
 
.cardsplit {
 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.cardsplit{
    line-height: 2;
}
.cardsplit>div{
color: white;
    text-align: center;
     column-count: 3; 
    column-gap: 50px;
    column-rule: 2px solid rgb(249, 47, 131);
    column-width:50px;
}
/* 7 */
.page7{
    width: 430px;
    height: 520px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.page7 .circlee{
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.circlee:first-child{
    background: linear-gradient(to right,#ff512f, #f09819);
    left: -80px;
    top: -80px;
}
.circlee:last-child{ 
    right: -30%;
    bottom: -80px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-radius: 0%;
    border-right-width: 200px;
    border-top: 214px solid #df3188;
    }
.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
}

.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box .name{  
    color: white;
    margin: 10px 0 5px 0;                      
    font-size: 23px;
    font-weight: 500;
}
.box .about{
    color: #d0d1d7;
    font-weight: 400;
    font-size: 16px;
}
.card-about{
    text-align: center;
    width: 100%;
}

.buttons button {
    outline: none;
    padding: 12px 0;
    color: #d0d1d6;
    font-size: 17px;
    position: relative;
    width: 100%;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    margin: 10px;
}

.buttons button .card-bt{  
    color: #d0d1d6;
    font-size: 17px;
    width: 100%;
    font-weight: 400;
    border-radius: 5px;
}