*{
    padding: 0%;
    margin: 0%;  
    box-sizing: border-box; 
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #080710;
 }
 .section{   
    width: 430px;
    height: 520px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
 }
 .section .circle{
     position: absolute;
     border-radius: 50%;
     height: 200px;
     width: 200px;
 }
 .circle:first-child{
     background: linear-gradient( #1845ad, #23a2f6);
     left: -80px;
     top: -80px;
 }
 .circle:last-child{
     background: linear-gradient(to right, #ff512f,#f09819);
     right: -30px;
     bottom: -80px;
 }


.name{
    color: white;
    margin: 10px 0 5px 0;                      
    font-size: 23px;
    font-weight: 500;
}
.about{   
    color: #d0d1d7;
    font-weight: 400;
    font-size: 16px;
}
.centerBox,.centerBox .image,icon,.buttons button{
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
.centerBox{
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centerBox .image{
    display: flex;
    align-items: center;
    justify-content: center;                    
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.image img{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.icon {
    display: inline-flex;
    height: 40px;
    margin: 15px 0 40px 0;
}
    .icon img{
        width: 50px;
        height: 50px;
        margin: 20px 10px ;
        background-color: lightgray;
        border-radius: 100px;
        padding: 5px;
    }
    .buttons button {
        display: inline-flex;
        margin-top: 10px;
        padding: 12px 40px;
        color: #d0d1d6;
        font-size: 17px;
        width: 48%;
        border: none;
        font-weight: 400;
        border-radius: 5px;
        z-index: 4;
        justify-content: center;
    }